<ul class="quotes">
    <% for(var i=0; i<quotes.length; i++) {%>
      <li class="quote">
        <span><%= quotes[i].month + ' ::: ' + quotes[i].date + ' ::: ' + quotes[i].notes%></span>
      </li>
    <% } %>
  </ul>