<!DOCTYPE html>
<html>
<head>
<style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.days :hover {
  background-color: aqua;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
</style>
</head>
<body>

<h1>Calendar</h1>

<div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      <p id="setMonth"></p><br>
      <span id="setYear"></span>
    </li>
  </ul>
</div>

<script>
    const monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"];
    const date1 = new Date();
    console.log(monthNames[date1.getMonth()]);
    month1 = (monthNames[date1.getMonth()]);
    year1 = date1.getFullYear();
    document.getElementById("setMonth").innerHTML = (monthNames[date1.getMonth()]);
    document.getElementById("setYear").innerHTML = date1.getFullYear();
</script>

<script>
    document.write("<ul class=\"weekdays\">");
        document.write("<li>Mon</li>");
        document.write("<li>Tue</li>");
        document.write("<li>Wed</li>");
        document.write("<li>Thur</li>");
        document.write("<li>Fri</li>");
        document.write("<li>Sat</li>");
        document.write("<li>Sun</li>");
    document.write("</ul>");
    </script>

<script>
    date2 = new Date();
    date3 = new Date(year1,date2.getMonth(), 1);
    days = new Date(year1, date2.getMonth() + 1, 0);
    test1 = String(days);
    test1 = test1.substring(8,10)
    
     // document.write(days + "<br>");
    // document.write((date2.getMonth() + 1) + " or " + String(date2).substring(4,7) + " - Month<br>");
    // document.write(String(date3).substring(0,3) + " - Beginning day of the month <br>");
    // document.write(test1 + " - last day");

    var daysArr = {"Mon": 1,"Tue": 2, "Wed":3, "Thur":4, "Fri":5, "Sat":6, "Sun":7};

    document.write("<ul class=\"days\">")
    for (y=1;y < daysArr[String(date3).substring(0,3)];y++) {
      document.write("<li> </li>");
    }  
    for(i = 1;i <= test1; i++ ) {
      // document.write(parseInt(String(date2).substr(8,2),10))
      if (i === parseInt(String(date2).substr(8,2),10)) {
        document.write("<li id="+i+" value="+ i +" onclick=\"loadDoc(this,id,String(date2).substring(4,7))\"><span  class=\"active\">" + i + "</span></li>");
      } else {
        document.write("<li id=" + i + " value=" + i + " onclick=\"loadDoc(this,id,String(date2).substring(4,7))\">"+ i +"</li>");
      }
    }
    document.write("</ul>");

</script>

<!-- create appointment. get month and day to submit with form  -->
<!-- creates appointment and sends email -->

<form action="/" method="post">
  <!-- add username or first and last name or just phone number  -->
  <label>Month</label>
  <input id="mthStr" type="text"  name="month">
  <label>Day</label>
  <input id="dayStr"type="text"  name="day">
  <label>Name</label>
  <input type="text"  name="name" value="Your Name!">
  <label>Phone Number</label>
  <input type="text"  name="Pnum" value="Please!">
  <button type="submit" >Submit</button>
</form>

<script>
  function clickTest(elmnt, click1) {
    document.getElementById("appTest").innerHTML = document.getElementById(click1).value;
  }
</script>

<script src="/javascripts/calendarHelper.js">
  // document.write(calendarHelper.test11());
</script>

<script>
  document.write("<p>Showing events for this day - </p>");
  document.write(test11);
</script>
  
<script>
  function loadDoc(elem, test1, mntStr) {

    setmd(mntStr, test1);

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        for (i=1;i<=5;i++){
          document.getElementById("appTest").innerHTML =
          this.responseText;
        }
      }
    };
    xhttp.open("GET", "/actionTest?month=" + mntStr + "&date=" + test1, true);
    xhttp.send();
  }
</script>

<script>
  // <!-- set the month and day for the submit button in the form  -->
  function setmd(mnthStr, dayStr) {
    console.log(mnthStr);
    document.getElementById("mthStr").value = mnthStr;
    document.getElementById("dayStr").value = dayStr;
  };
</script>

</script>

</body>
</html>